:root{
    --tifanny: #0abab5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

section{
    width: 100%;
    height: 100vh;
}

 section nav .logo img{
  width: 80px;
  cursor: pointer;
  margin: 2px 2px;
}

section nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: white;
    box-shadow: 0 0 10px black;
    z-index: 1000;
}

section nav ul{
    list-style: none;
}

section nav ul li {
    display: inline-block;
    margin: 0 15px;
}
section nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 17px;
}

section nav ul li a:hover{
    color: var(--vermelho);
}